<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiceHashMarket.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <NiceHashMarket.Console.Properties.Settings>
            <setting name="NiceApiKey" serializeAs="String">
                <value>xxxx-xxx-xxx-xxx-xx-xx-sample</value>
            </setting>
            <setting name="NiceApiId" serializeAs="String">
                <value>xxxx-sample</value>
            </setting>
            <setting name="LbrySuprnovaApiKey" serializeAs="String">
                <value>f1198572af7aacf3742ab6f33df40725e2084e5bee1e73925b7a4bf48f56bc1f</value>
            </setting>
            <setting name="LbrySuprnovaUserId" serializeAs="String">
                <value>1882991</value>
            </setting>
            <setting name="LbryCoinMineApiKey" serializeAs="String">
                <value>397c9a13e412828695abb649aa29d279a40c5c0690b355c30887f2786c07509f</value>
            </setting>
            <setting name="LbryCoinMineUserId" serializeAs="String">
                <value>19024</value>
            </setting>
        </NiceHashMarket.Console.Properties.Settings>
    </userSettings>
</configuration>
