<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiceHashMarket.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <NiceHashMarket.Console.Properties.Settings>
            <setting name="NiceApiKey" serializeAs="String">
              <value>533d6b4d-9edf-a516-7abb-87157fe93ddc</value>
            </setting>
            <setting name="NiceApiId" serializeAs="String">
              <value>221158</value>
            </setting>
        </NiceHashMarket.Console.Properties.Settings>
    </userSettings>
</configuration>
